body {
    padding: 0;
    margin: 0;
    background-color: black;
    max-width: 1180px;
    margin: 0 calc(var(--index) * 3);
    box-sizing: border-box;

}

:root {
    --index: (1vh + 1vw)
}

@font-face {
    font-family: Caudex;
    src: url(../fonts/Caudex-Regular.ttf);
}

@font-face {
    font-family: KronaOne;
    src: url(../fonts/KronaOne-Regular.ttf);
}

@font-face {
    font-family: Phonk;
    src: url(../fonts/Phonk\ Regular\ DEMO.otf);
}


header {
    font-family: Caudex;
    border-bottom: 1px solid white;
}

.header__wrapper {
    margin: 0;
    padding: 0;
}

.nav__list {
    display: flex;
    gap: 45px;
    justify-content: center;
}

.nav__list-item a {
    color: white;
    text-decoration: none;
}

a:hover {
    filter: drop-shadow(0 0 5px white);
}

main {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.main__content {
    display: flex;
    flex-direction: column;
    background-image: url(../img/bc.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: calc(var(--index) * 28)
}

.wassup {
    font-family: KronaOne;
    color: #5F558E;
    font-size: calc(var(--index) * 6);
}

.phar {
    max-width: 450px;
    font-family: KronaOne;
    color: #737373;
    font-size: calc(var(--index) * 1.7);
}

.prof_skills__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 343px 343px;
}

.text_myprof {
    z-index: 1;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    font-family: KronaOne;
    color: #5F558E;
    font-size: calc(var(--index) * 2.5);
}

.image {

    width: 100%;
    max-height: 100%;

}

.item1 {
    display: grid;
    grid-column: 1;
    grid-row: 2 / 3;
    background-image: url(../img/acc.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.item2 {
    display: grid;
    grid-column: 2;
    grid-row: 2 / 3;
    background-image: url(../img/books.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.item3 {
    display: grid;
    grid-column: 3;
    grid-row: 2 / 3;
    background-image: url(../img/tape.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.item4 {
    display: grid;
    grid-column: 3;
    grid-row: 1 / 2;
    background-image: url(../img/drums.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.prof_skills-item:hover {
    filter: sepia(100%) hue-rotate(210deg) brightness();
    ;

}

h3 {
    position: absolute;
    color: #ffffff;
    font-family: KronaOne;
    font-size: calc(var(--index) * 1.5);
    max-width: 284px;
    text-align: center;
    justify-self: center;
    align-self: center;

}

.gor {
    display: flex;
    justify-content: center;
}

.works__wrapper {
    display: flex;
    flex-direction: column;

}
.Title {
    align-self: center;
    display: grid;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    font-family: KronaOne;
    color: #5F558E;
    font-size: calc(var(--index) * 2.5);
    padding: 0;
    margin: 0;

}
.player {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.nav_button {
    padding: 72px 0;
    justify-content: left;
    filter: invert();
    
}

.bt1, .bt2, .bt3{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: calc(var(--index) * 3.5);
    cursor: pointer;
}



